{% extends "base.html"%}
{% block title %}
  Page analyse
{% endblock %}
{% block content %}
<section class="hero-area bg-1 text-center overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="advance-search">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-md-12 align-content-center">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    <div class="alert-container">
                                        {% for category, message in messages %}
                                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% endwith %}
								<form   action="{{ url_for('analyse') }}"  method="POST">
									<div class="form-row">
										<div class="form-group col-xl-4 col-lg-2 col-md-3">
											<select class="w-100 form-control mt-lg-1 mt-md-2" name='bacterie' required>
                                                <option value="">Selectionner une bacterie</option>
												<option value="Tout">Tout</option>
                                                {% for bacterie in bacterie_labels %}
												<option value="{{bacterie}}">{{bacterie}}</option>
                                                {% endfor %}
									
											</select>
										</div>
										<div class="form-group col-lg-2 col-md-3">
											<select id="phylum" class="w-100 form-control mt-lg-1 mt-md-2" name = 'phylum' required>
												<option value=''>Phylum</option>
                                                <option value="Tout">Tout</option>
												{% for phylum in phylum_labels %}
												<option value="{{phylum}}">{{phylum}}</option>
                                                {% endfor %}
									
											</select>    
										</div>
										<div class="form-group col-lg-2 col-md-3">
											<select id="nutriment" class="w-100 form-control mt-lg-1 mt-md-2" name='nutriment' required>
												<option value=''>Nutriment</option> 
												<option value="Tout">Tout</option>
												{% for nutriment in nutriment_labels %}
												<option value="{{nutriment}}">{{nutriment}}</option>
                                                {% endfor %}
											</select>
										</div>
										<div class="form-group col-lg-2 col-md-3">
											<select id="type" class="w-100 form-control mt-lg-1 mt-md-2" name= 'type' required>
												<option value=''>Type</option>
												<option value="Tout">Tout</option>
												<option value="Exp">Expoter</option>
                                                <option value="Imp">Importer</option>
											</select>
										</div>
										<div class="form-group col-xl-2 col-lg-2 col-md-3 align-self-center">
												<button type="submit" class="btn btn-danger active w-100">Rechercher</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<section class="popular-deals section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--h2 class="text-center mb-4">Résultats de l'analyse</h2-->
				{% if data is none  %}

				{% else %}
				{% if data|length > 0 %}
                <!-- Tableau défilable -->
                <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-blue">
                            <tr>
                                <th>Souche Name</th>
                                <th>DACH.tsv</th>
                                <th>EUaverage.tsv</th>
                                <th>GlutenFree.tsv</th>
                                <th>HighFat_lowCarb.tsv</th>
                                <th>HighFiber.tsv</th>
                                <th>HighProtein.tsv</th>
                                <th>Mediterranean.tsv</th>
                                <th>Type2diabetes.tsv</th>
                                <th>Unhealthy.tsv</th>
                                <th>Vegan.tsv</th>
                                <th>Vegetarian.tsv</th>
                                <th>Std-dev</th>
                                <th>ImpExp</th>
                                <th>phylum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Boucle pour afficher les lignes de données -->
                            {% for row in data %}
                            <tr>
								<td>{{ row['Souche Name'] }}</td>
                                <td>{{ row['DACH.tsv'] }}</td>
                                <td>{{ row['EUaverage.tsv'] }}</td>
                                <td>{{ row['GlutenFree.tsv'] }}</td>
                                <td>{{ row['HighFat_lowCarb.tsv'] }}</td>
                                <td>{{ row['HighFiber.tsv'] }}</td>
                                <td>{{ row['HighProtein.tsv'] }}</td>
                                <td>{{ row['Mediterranean.tsv'] }}</td>
                                <td>{{ row['Type2diabetes.tsv'] }}</td>
                                <td>{{ row['Unhealthy.tsv'] }}</td>
                                <td>{{ row['Vegan.tsv'] }}</td>
                                <td>{{ row['Vegetarian.tsv'] }}</td>
                                <td>{{ row['Std-dev'] }}</td>
                                <td>{{ row['ImpExp'] }}</td>
                                <td>{{ row['phylum'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else  %}
                    <p class="text-warning text-center">Aucune donnée trouvée pour ces critères.</p>
                {% endif %}
				{% endif %}
            </div>
        </div>
    </div>
</section>


<section class=" section">
	
</section>


<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	
</section>
{% endblock %}