{% extends "base.html" %}
{% block title %}
  Page fichier
{% endblock %}
{% block content %}
<section class="hero-area bg-1 text-center overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="advance-search">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-md-12 align-content-center">
								<h2>Soumettre un fichier Excel ou CSV</h2>
								<form action="/fichier" method="POST" enctype="multipart/form-data">
									<div class="mb-3">
										<!--label for="fileInput" class="form-label">Choisissez un fichier Excel ou CSV</label-->
										<input type="file" class="form-control" id="fileInput" name="file" accept=".xls, .xlsx, .csv" required>
									</div>
									<button type="submit" class="btn btn-danger">Soumettre</button>
								</form>
							</div>
						</div>
					</div>	
			    </div>
		    </div>
	    </div>
	</div>
</section>
{% endblock %}